<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешения -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Один раз достаточно -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Определение SplashScreen API -->
    <meta-data
        android:name="com.google.android.gms.safetynet.SafetyNetSplashConfig"
        android:resource="@xml/splash_screen" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaxiEasyUaBack4App"
        tools:targetApi="31">
        <activity
            android:name=".ui.finish.ErrorPayActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.MonoBankActivity"
            android:exported="false" />
        <activity
            android:name=".ui.payment.PayPalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.finish.FinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TaxiEasyUaBack4App.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key_storage" />
        <meta-data
            android:name="visicom.API_KEY"
            android:value="@string/visicom_key_storage" />
        <meta-data
            android:name="androidx.room.RoomDatabase.VERSION"
            android:value="3" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TaxiEasyUaBack4App.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.start.FirebaseSignIn"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TaxiEasyUaBack4App.NoActionBar" />
        <activity
            android:name=".ui.open_map.OpenStreetMapActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TaxiEasyUaBack4App.NoActionBar" />
        <activity
            android:name=".ui.start.StopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.start.GoogleSignInActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".NetworkChangeReceiver" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>